
<form (submit)="createChallenge()" color="secondary">
<mat-form-field appearance="fill">
    <mat-label color="secondary">Wage in tokens</mat-label>

    <input matInput [(ngModel)]="ctsiToBet" name="ctsiToBet" type="number" required color="secondary">
</mat-form-field>

&nbsp;
<button mat-flat-button color="primary" type="submit">Create Challenge</button>
</form>

<br/>

<button mat-flat-button color="primary" (click)="inspectUserBattles()">Refresh</button>
<mat-list>
    <div mat-list-item *ngFor="let report of inspectReply">
        <hr/><br/>
        Game ID: {{report.id}} - Value: {{report.amount}}<br/>
        Status: <a class="status {{report.status}}">{{report.status}}</a><br/>
        Opponent: 
        <a *ngIf="report.status == 'accepted'" class="mono">{{report.opponent}}</a>
        <a *ngIf="report.status != 'accepted'" class="mono">waiting...</a>
        <br/> <br/> 
        <button mat-flat-button color="basic" *ngIf="report.status == 'accepted'" (click)="confirmFighter(report)">Start Fight!</button>
        <br/>
    </div>
</mat-list>