.App {
  text-align: center;
  background-image: url('./images/arena.jpg');
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "Seagram-Font"; 
  src: url('./fonts/Seagram.ttf') format('truetype');
}

@font-face {
  font-family: "SuezOne-Regular"; 
  src: url('./fonts/SuezOne-Regular.ttf') format('truetype');
}

h1, h2, h3 {
  font-family: "Seagram-Font", sans-serif; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-main {
  background-color: rgb(40, 44, 52);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(50, 50, 50);
  background-image: url('./images/arena.jpg');
  background-size: cover;
  background-position: center;
}

.app-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(40, 44, 52, 0.8);
  padding: 40px;
  border-width: 5px;
  border-radius: 15px;
  border-style: groove;
}

.app-desc {
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  color: beige;
  opacity: 50%;
  font-family: "Seagram-Font", sans-serif;
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}

.connectButton {
  background: #f21f4e;
  margin: 10px;
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: 800;
  font-family:fantasy;
  color: bisque; 
 }
.connectButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
 
 /* loading animation */
 .spinner {
   width: 40px;
   height: 40px;
   background-color: #333;
 
   margin: 100px auto;
   -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
   animation: sk-rotateplane 1.2s infinite ease-in-out;
 }
