.main-div{
    text-align: center;
    background-color: rgb(40, 44, 52, 0.9);
    padding: 40px;
    border-width: 5px;
    border-radius: 15px;
    border-style: groove;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2{
    margin-bottom: 10px;
    color: beige;
    margin-top: 0px;
}

p{
    font-size: 0.6em;
    font-weight: 300;
    color: beige;
    opacity: 40%;
    font-family: "Seagram-Font", sans-serif;
    margin-top: 0;
}

.weapon-image {
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    width: 150px; 
    height: auto; /* Maintain aspect ratio */
  }

/* Style for the selected image */
.selected {
    border-color: #007bff; /* You can change this color to your preference */
  }
  
/* Hover effect for all images */
.weapon-image:hover {
    border-color: #007bff; /* Change this color to your preference for the hover effect */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

.generateButton {
    background: #f21f4e;
   /*background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
   margin: 10px;
   padding: 15px 40px;
   border-radius: 10px;
   font-weight: 800;
   font-family:fantasy;
   color: bisque;
}

.formContainer{
  display: flex;
  flex-direction:column;
  gap: 10px;
  column-gap: 30px;
  color: beige;
  margin-top: 30px;
  margin-bottom: 30px;
}

.label-input{
    display: flex;
    align-items:center;
    margin-bottom: 5px;
    text-align: left;
    justify-content: center;
}

label{
    display: inline-block;
    width: 100px;
    font-size:large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
input{
    font-family: fantasy;
    font-weight:900;
}

