
<h1>Arena Mayhem Frontend</h1>
<p>Welcome to Arena Mayhem!</p>
<p>This app was developed as a proof of concept for a hackathon and later developed to an MVP version, bringing you an exciting world of gladiator battles and blockchain technology.</p>
<h2>Overview</h2>
<p>Arena Mayhem offers an exhilarating fighting game that allows users to create their own gladiators and challenge their friends to epic battles. To enter the arena, participants stake a chosen amount of tokens, which is an ERC-20 token. It can be changed in the source code to the ones like ETH, APE, or any other following the protocol.</p>
<h3>How it Works</h3>
<ol>
    <li><strong>Betting and Staking:</strong> Users set their bets using tokens, creating an enticing wager for the battle.</li>
    <li><strong>Battle Commencement:</strong> The battle issuer and challenger can enter the arena, and the Cartesi machine springs into action to execute a complex algorithm.</li>
    <li><strong>Battle Log Generation:</strong> The Cartesi machine generates a detailed battle log in JSON format, reflecting each gladiator's actions and statistics.</li>
    <li><strong>Winner Takes All:</strong> if the player's gladiator wins they can claim the prize.</li>
</ol>
<h3>Why Cartesi?</h3>
<p>We chose Cartesi to run the battle logic because it allows for the implementation of intricate and complex algorithms, which might be challenging to accomplish using the Solidity language.</p>
<h3>Witness the Battle</h3>
<p>After the algorithm finishes its calculations and log generation, players can watch their gladiators in action through a captivating animation created with the Angular frontend. Every step of the fighters' attacks and the gradual decay of their health is displayed throughout the battle.</p>
<h3>Claim Your Victory</h3>
<p>When the battle concludes, tokens are distributed within the application and can be easily withdrawn by the winner. Arena Mayhem is your gateway to a world of exhilarating battles, strategic gameplay, and the taste of victory!</p>
<h2>Technology Stack</h2>
<ul>
    <li><strong>Frontend:</strong> The entire frontend is developed with Angular. All assets, including fonts, images, and sprites for animations, are sourced from the internet.</li>
    <li><strong>Backend:</strong> The backend is developed using Python and runs inside the Cartesi machine.</li>
    <li><strong>Frontend-Backend Interaction:</strong> The frontend interacts with the backend within the "am-node" directory, built with Sunodo.</li>
</ul>
<h2>Getting Started</h2>
<p>Each project comes with a dedicated README file, providing detailed instructions on how to run and interact with the applications.</p>
<p>So, gear up, step into the arena, and experience the thrill of Arena Mayhem!🏆🥊</p>
<hr>
<p><em>Note: This project is intended for educational and proof-of-concept purposes. Please use ERC-20 tokens responsibly and adhere to any relevant blockchain regulations.</em></p>
