<button mat-stroked-button color="primary" type="submit" (click)="submitRelay()">Submit Relay</button>
<br/><br/>
<form (submit)="inspect()">
<mat-form-field appearance="fill">
    <mat-label>Inspect</mat-label>
    <input matInput [(ngModel)]="inspectRoute" name="inspectRoute" required>
</mat-form-field>
&nbsp;
<button mat-stroked-button color="primary" type="submit">Inspect</button>
</form>
{{inspectReply}}

<br/><br/><br/>

<form (submit)="submitGenericInput()">
<mat-form-field appearance="fill">
    <mat-label>Generic Input</mat-label>
    <input matInput [(ngModel)]="genericInput" name="genericInput" type="text" required>
</mat-form-field>
&nbsp;
<button mat-stroked-button color="primary" type="submit">Submit</button>
</form>

<form (submit)="submitEtherDeposit()">
<mat-form-field appearance="fill">
    <mat-label>Ether Amount</mat-label>
    <input matInput [(ngModel)]="etherDepositAmount" name="etherDepositAmount" type="number" required>
</mat-form-field>
&nbsp;
<button mat-stroked-button color="primary" type="submit">Deposit</button>
</form>

<form (submit)="submitSunodoDeposit()">
<mat-form-field appearance="fill">
    <mat-label>Sunodo Token Amount</mat-label>
    <input matInput [(ngModel)]="sunodoDepositAmount" name="sunodoDepositAmount" type="number" required>
</mat-form-field>
&nbsp;
<button mat-stroked-button color="primary" type="submit">Deposit</button>
</form>

<form (submit)="submitNFTDeposit()">
<mat-form-field appearance="fill">
    <mat-label>NFT Token Address</mat-label>
    <input matInput [(ngModel)]="nftAddress" name="nftAddress" type="text" required>
</mat-form-field>
&nbsp;
<mat-form-field appearance="fill">
    <mat-label>NFT Token ID</mat-label>
    <input matInput [(ngModel)]="nftId" name="nftId" type="number" required>
</mat-form-field>
&nbsp;
<button mat-stroked-button color="primary" type="submit">Deposit</button>
</form>

<button mat-stroked-button color="accent" (click)="loadReports()">Load Reports</button>
<mat-list>
    <p mat-list-item *ngFor="let report of reports">
        {{report.plainText}}
    </p>
</mat-list>
<hr/>
<button mat-stroked-button color="accent" (click)="loadNotices()">Load Notices</button>
<mat-list>
    <p mat-list-item *ngFor="let notice of notices">
        {{notice.plainText}}
    </p>
</mat-list>
<hr/>
<button mat-stroked-button color="accent" (click)="loadVouchers()">Load Vouchers</button>
<mat-list>
    <p mat-list-item *ngFor="let voucher of vouchers">
        {{voucher.plainText}}
        <button mat-icon-button color="accent" (click)="openVoucher(voucher)">
            <mat-icon>
                pageview
            </mat-icon>
        </button>
    </p>
</mat-list>